body{
    margin: 0 auto;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
    margin-right: 10px;
  padding: 0;
  width: 86px;
  height: 90px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
    float: left;
    background-color: rgb;
    background: rgba(255,255,255,0.000001);
}

.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 2px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -20px;
}

.c-hamburger span::after {
  bottom: -20px;
}
/*.c-hamburger--htx {*/
/*  background-color: #ff3264;*/
/*}*/

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
    
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
#conteinerHeder{
/*    height: 800px;*/
/*    width: 1920px;*/
	width: 100%;
    display:block;
    margin: 0 auto;
}
.BlockMenu{
    height: 100px;
    width: 960px;
/*    background-color: antiquewhite;*/
    margin: 0 auto;
}
.language{
    padding: 15px 20px 15px 30px;
/*    width: 100px;*/
/*    height: 50px;*/
/*    background-color: greenyellow;*/
    display:block;
    float: right;
    margin-top: -55px;
    border-left: 1px solid white;
     
}
.lang{
/*    margin-top: 20px;*/
/*    padding: 20px ;*/
    width: 50px;
    height: 30px;
    background-image: url(img/amerikanFlag.png);
    border: none;
    cursor: pointer;
    display:block;
    border-radius: 3px;
}

   
.battonLogo{
/*    float: right;*/
    width: 220px;
    height: 50px;
    background-image: url(img/topLogo.png);
    margin-top: 23px;
    margin-left: 0px;
    background-size: 80% 100%;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-position: center;
/*    background-color: aqua;*/
    font-size: 1px;
    display: inline-block;
}
#conteinerHeder{
/*    height: 800px;*/
/*    width: 1920px;*/
	width: 100%;
    display:block;
    margin: 0 auto;
}
#conteiner{
    height: 6314px;
/*    width: 1920px;*/
	width: 100%;
    display: block;
    margin: 0 auto;
}
.font{
    background-image: url(img/backGround.png);
    width: 100%;
    height: 6312px;
}
.menuCompany{
    width: 100%;
    height: 100px;
    background: linear-gradient(to left, #b21924, #062374);
    position: fixed;
}
.presentSchool{
/*    width: 1920px;*/
    width: 100%;
    height: 700px;
    background-image: url(img/hederBeckground.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: 100% 100%;
}
.title{
    width: 960px;
    height: 700px;
    margin: 0 auto;
/*    background-color: aqua;*/
   
}
.chicagoLaw{
    height: 293px;
    width: 100%;
/*    background-color: azure;*/
    
}
.uniqueSchool{
    height: 190px;
    width: 100%;
/*    background-color: antiquewhite;*/
}
a.button8 {
    display: inline-block;
    color: white;
/*    font-weight: 700;*/
    text-decoration: none;
    user-select: none;
/*  padding: .5em 2em;*/
    width: 310px;
    height: 70px;
    margin: 50px 0 0 0px;
    outline: none;
    border: 2px solid;
    border-radius: 40px;
    transition: 0.3s;
    text-align: center;
    font-size: 30px;
    display:inline-block;
} 
a.button8:hover { background: rgb(255,255,255);
    color: rgb(70,71,125);
}
a.button8:active { background: white;
    color: rgb(70,71,125);
}
.advantages{
    width: 460px;
    height: 126px;
    background: rgb(230,77,88);
    margin-left: 250px;
    margin-top: 50px;
    display:inline-block;
}
#globalInfo{
    margin: 0 auto;
    width: 1364px;
    height: 5910px;
/*    background-color: coral;*/
}
.topLeft{
    margin-left: 0px;
    background-image: url(img/topLeftBlock.png);
    background-position: 46% top;
    width: 683px;
    height: 683px;
/*    display: inline-block;*/
}
.topRight{
    margin-top: -683px;
    margin-left: 683px;
    margin-right: -683px;
    background: rgb(215,222,231);    
    width: 683px;
    height: 683px;
/*    display: inline-block;*/
}
.footLeft{
    margin-left: 0px;
    background: rgb(230,77,88); 
    width: 683px;
    height: 683px;
}
.footRight{
    margin-top: -683px;
    margin-left: 683px;
    margin-right: 0px;
    background-image: url(img/bottomRigheBlock.png);
    width: 683px;
    height: 683px;
}
.Logo{
    width: 235px;
    height: 235px;
/*    background-color: antiquewhite;*/
    display: block;
    margin: 0 auto;
    margin-top: -85px;
    margin-bottom: -150px;
}
.centralLogo{
    margin: 35px 0 0 67px;
}
.slidersBlock{
    height: 634px;
    width: 100%;
    background: rgba(255,255,255,0.1);
    margin: 0 auto;
}
.cours{
    width: 100%;
    height: 147px;
    background-color: white;
}
.teachers{
    width: 100%;
    height:340px;
    background-color: DARKORCHID;
}
.teacher1,.teacher2,.teacher3,.teacher4{
    width: 341px;
    height: 340px;
    float: left;
}
.teacher1{
    background-image: url(img/firstPhoto.png);
    background-position: 50% top;
}
.teacher2{
    background-image: url(img/2photo.png);
    background-position: 50% top;
}
.teacher3{
    background-image: url(img/3photo.png);
    background-position: 50% top;
}
.teacher4{
    background-image: url(img/4photo.png);
    background-position: 50% top;
}

.reviews{
    width: 100%;
    height:500px;
    background: rgb(241,241,241);
}
.circleImg{
    width: 228px;
    height: 228px;
    margin: 150px 0 0 225px;
    border-radius: 120px;
    border: 4px solid white;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    background-image: url(img/circlePhoto.png);
/*    background-position:0% 0%; */
    display: inline-block;
}
.USAdreams{
    width: 100%;
    height:500px;
    background-image: url(img/backgroundCity.png);
}
.backgroundLedy{
    height: 450px; 
    float: right;
    margin-top: 50px;
    margin-right: 270px;
}
.aboutUs{
    width: 100%;
    height:500px;
    background: rgb(241,241,241);
}
.pressInfo{
    width: 500px;
    height: 500px;
    float: left;
    background-image: url(img/press.png);
}
.organizTraining{
    width: 100%;
    height:207px;
    background-color: white;

}
.teaching{
    width: 100%;
    height:750px;
    background-color: white;
    border-top: 1px solid #e64d58;

}
.redLine{
    height: 15px;
    width: 373px;
    background-color:#e64d58;
       margin-top: -8px;
}
.rulesBlue{
    float: right;
    width: 433px;
    height: 375px;
    background-color: #2e4e94;
    margin-top: -7px;
}
.rulesRed{
    float: right;
    width: 433px;
    height: 375px;
    background-color: #e64d58;
    display: block;
    margin-top: 368px;
    margin-right: -433px;
}
.greyLines{
    width: 182px;
    height: 745px;
    float: left;
    background-color: antiquewhite;
}
.learns{
    float: left;
    background-color: darkgray;
    height: 745px;
    width: 749px;
}
.partners{
    width: 100%;
    height:436px;
    background: rgb(241,241,241);
}
.ourContacts{
    width: 460px;
    height: 126px;
    background: rgb(230,77,88);
    margin-top: 400px;
    margin-left: 33%;
    display: inline-block;
}
.contacts{
    width: 100%;
    height:509px;
    background: rgb(6,13,50);
}
.lastBlock{
    width: 250px;
    height: 340px;
/*    background-color: antiquewhite;*/
    margin: 0 auto;
     margin-top: 40px;
}
.socialNet{
    width: 210px;
    height: 50px;
    margin: 0 auto;
    background-image: url(img/socialNet.png);
    margin-top: 10px;
    margin-bottom: 50px;
}
.footerlogo{
    width: 100%;
    height: 200px;
    background-image: url(img/footerLogo.png);
    background-size: 100% 100%;
}





























